
# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files (optional)
.vscode/
.idea/

# macOS specific files (optional)
.DS_Store

# Log files
*.log