{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Formulário de Quantificação</title>

    <style>
        .w-fit {
            min-width: fit-content !important;
        }
    </style>
</head>
<body>
    <form method="post" id="form-quantificacao" class="m-5">
        {% csrf_token %}
        <h1>Quantificação de material óptico</h1>
        <div class="card mb-3">
            <div class="card-body">
                <p>Alunos: Arthur Leão Teles, Arthur Rodrigues Nepomuceno Milagres e Eduardo Costa de Souza</p>
                <p>Turma: INF3A</p>
                <p>Professor: Dr. Adelson de Paula Silva</p>
                <p>Instituição: CEFET-MG</p>
            </div>
        </div>
        <h2>Descrição da solução</h2>
        <div class="card mb-3">
            <div class="card-body">
                <p class="text-justify">
                    A resolução apresentada consiste na separação da quantificação por campus e prédio. A quantificação de prédio quantifica somente um prédio, portanto a SEQ principal é a do prédio e devem ser especificadas todas as SETs nesse prédio, note que podem chegar várias fibras em uma SET com quantidades diferentes de disciplinas. Já a quantificação de campus considera a SEQ do campus como sendo principal e as SEQs secundárias as dos prédios, que são detalhados da mesma forma que a anterior.
                </p>
            </div>
        </div>

        {% crispy form_choices_interface %}

        <div id="quantificacao-de-fibra"></div>

        <button type="submit" class="btn btn-primary mb-3">Baixar quantificação como xlsx</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(document).on('click', '.remove-parent', function() {
            $(this).parent().remove();
        });

        function addQuantificacaoCampus() {
            $("#quantificacao-de-fibra").append(
                `{% include 'quantificacao_campus/quantificacao_campus.html' %}`
            );
        }

        function addQuantificacaoPredio() {
            $("#quantificacao-de-fibra").append(
                `{% include 'quantificacao_predio/quantificacao_predio.html' %}`
            );
        }

        function swapTipoQuantificacao(tipo) {
            if (tipo === "CAMPUS") {
                addQuantificacaoCampus();
                $("#predio-quantificacao").remove();
            } else {
                $("#campus-quantificacao").remove();
                addQuantificacaoPredio();
            }
        }

        $("input[name='tipo_quantificacao']").change(function() {
            swapTipoQuantificacao($(this).val());
        });

        function addSEQSecundaria() {
            let addedSEQ = $(this).siblings('.list-seqs').append(
                `{% include 'quantificacao_predio/quantificacao_seq_predio.html' with form_seq_predio=form_seq_secundaria %}`
            );

            addedSEQ.find('.add-set').last().after(
                `<button type="button" class="ms-2 mb-3 w-fit btn add-backbone remove-parent btn-outline-danger"><span aria-hidden="true">&times;</span> Remover SEQ</button>`
            );
        }

        function addSET() {
            $(this).siblings('.list-set').append(
                `{% include 'quantificacao_predio/quantificacao_set.html' %}`
            );
        }

        function addBackbone() {
            $(this).siblings('.list-backbones').append(
                `{% include 'quantificacao_predio/set_backbone.html' %}`
            );
        }

        $(document).on('click', '.add-seq', addSEQSecundaria);
        $(document).on('click', '.add-set',addSET);
        $(document).on('click', '.add-backbone', addBackbone);

        function getBackboneSET($parent) {
            return $parent.find('.disciplina_set').val();
        }

        function getSET($parent) {
            let disciplinas = [];

            $parent.find('.container-backbone-set').each(function () {
                disciplinas.push(getBackboneSET($(this)));
            });

            return {
                andar: $parent.find('.andar_set').val(),
                disciplinas_por_backbone: disciplinas,
            };
        }

        function getSEQPredio($parent) {
            let sets = [];

            $parent.find('.container-set').each(function() {
                sets.push(getSET($(this)));
            });

            return {
                andar: $parent.find('.andar_seq_secundaria').val(),
                medida_basica: $parent.find('.medida_basica_seq_secundaria').val(),
                disciplinas: $parent.find('.disciplinas_seq_secundaria').val(),
                sets: sets,
            };
        }

        function getFibraDataFrom($select) {
            const fibra = $select.val();
            return {
                modo: fibra.slice(0, 2),
                nucleo: fibra.slice(2),
            }
        }

        function getFormDataCampus() {
            let $campus = $('#campus-quantificacao');

            let seqs_secundarias = [];

            $campus.find('.container-seq-predio').each(function () {
                seqs_secundarias.push(getSEQPredio($(this)));
            });

            const fibra_seq_campus = getFibraDataFrom($('#id_modo_fibra_seq_primaria'));
            const fibra_seq_predio = getFibraDataFrom($('#id_modo_fibra_seq_secundaria'));
            const fibra_set = getFibraDataFrom($('#id_modo_fibra_set'));

            return {
                config: {
                    modo_seq_primaria: fibra_seq_campus.modo,
                    nucleo_seq_primaria: fibra_seq_campus.nucleo,
                    indice_seq_primaria: 'IG',
                    categoria_seq_primaria: 'Loose',
                    modo_seq_secundaria: fibra_seq_predio.modo,
                    nucleo_seq_secundaria: fibra_seq_predio.nucleo,
                    indice_seq_secundaria: 'IG',
                    categoria_seq_secundaria: 'Loose',
                    modo_set: fibra_set.modo,
                    nucleo_set: fibra_set.nucleo,
                    indice_set: 'IG',
                    categoria_set: 'Tight',
                    backbone_primario: true,
                    backbone_secundario: true,
                },
                seq_primaria: {
                    medida_basica: $('#id_medida_basica_seq_primaria').val(),
                    disciplinas: $('#id_disciplinas_seq_primaria').val(),
                },
                seqs_secundarias: seqs_secundarias,
            };
        }

        function getFormDataPredio() {
            let $predio = $('#predio-quantificacao');

            let seq_predio = [getSEQPredio($predio.find('.container-seq-predio'))];

            const fibra_seq_predio = getFibraDataFrom($('#id_modo_fibra_seq_primaria'));
            const fibra_set = getFibraDataFrom($('#id_modo_fibra_set'));

            return {
                config: {
                    modo_seq_primaria: '',
                    nucleo_seq_primaria: '',
                    indice_seq_primaria: 'IG',
                    categoria_seq_primaria: 'Loose',
                    modo_seq_secundaria: fibra_seq_predio.modo,
                    nucleo_seq_secundaria: fibra_seq_predio.nucleo,
                    indice_seq_secundaria: 'IG',
                    categoria_seq_secundaria: 'Loose',
                    modo_set: fibra_set.modo,
                    nucleo_set: fibra_set.nucleo,
                    indice_set: 'IG',
                    categoria_set: 'Tight',
                    backbone_primario: false,
                    backbone_secundario: true,
                },
                seq_primaria: {
                    medida_basica: $('#id_medida_basica_seq_primaria').val(),
                    disciplinas: $('#id_disciplinas_seq_primaria').val(),
                },
                seqs_secundarias: seq_predio,
            };
        }

        function getFormData() {
            if ($("input[name='tipo_quantificacao']:checked").val() === 'CAMPUS')
                return getFormDataCampus();
            else
                return getFormDataPredio();
        }

        $('#form-quantificacao').submit(function (event) {
            event.preventDefault();

            $.ajax({
                type: 'POST',
                url: '{% url "quantificacao_form" %}',
                data: JSON.stringify(getFormData()),
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                xhrFields: {
                    responseType: 'blob'
                },
                success: function(response) {
                    let blob = new Blob([response], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'});
                    let link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'quantificacao.xlsx';
                    link.click();
                },
                error: function (response) {
                    alert('Houve um erro ao baixar o xlsx. Se você tentou quantificar somente o backbone secundário, por favor informe uma SEQ secundária.');
                }
            });
        });
    </script>
</body>
</html>
