<div class="mb-3 d-flex justify-content-between container-backbone-set">
    <input type="number" name="disciplinas_backbone" class="disciplina_set text-input form-control" placeholder="Disciplinas do Backbone chegando à SET" required>
{#    <button class="btn btn-danger mb-3 add-backbone remove-parent"><span aria-hidden="true">&times;</span></button>#}
    <button type="button" class="ms-2 w-fit btn add-backbone remove-parent btn-outline-danger"><span aria-hidden="true">&times;</span> Remover backbone</button>
</div>
